.browse-no-items {
  text-align: center;
}

.browse-no-items h2 {
  color: #DDD;
  text-shadow: 4px 4px #555;
}

.browse-item-list {
  margin: 0px;
  width: 80vw; 
  height: calc(100% - 100px); 
  background-color: #666; 
  overflow: auto;
  float: left;
}

@media (max-width: 950px) {
  .browse-item-list {
    clear: both;
    display: block;
    width: 100vw;
  }
}

.browse-item {
  box-shadow: 3px 3px 7px 4px #333;
  width: 47.5%; 
  height: 47.5%; 
  display: inline-block; 
  position: relative;
  margin: 8px;
  overflow: hidden;
}

@media (max-width: 950px) {
  .browse-item {
    display: block;
    width: 90vw;
    height: 55vh;
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.browse-item:hover .browse-purchase-button {
  opacity: 1.0;
} 


.browse-item:hover .browse-add-tag-button {
  opacity: 1.0;
} 

.browse-item-zoomer {
  position: absolute;
  background-size: cover; 
  background-posiion: center;
  background-repeat: no-repeat;
  object-fit: cover;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  z-index: 0;
}

.browse-item-zoomer:hover {
  transform: scale(1.1, 1.1);
}

.browse-tag {
  z-index: 10;
  background-color: #666;
  display: block;
  margin: 0px 10px;
  opacity: 0.85;
  max-width: 35%;
  margin: 4px;
  padding: 2px;
  text-align: center;
}

.browse-tag p {
  color: white;
  transition: all 0.25s ease-in-out;
  margin: -2px;
  font-size: 14px;
  cursor: pointer;
}

.browse-tag p:hover {
  background-color: #333;
  opacity: 1.0;
}

.browse-item-data {
  position: absolute;
  bottom: 0;
  padding: 4px 30px;
  border-top-right-radius: 2px;
  min-width: 100px;
  background-color: #666;
  opacity: 0.75; 
  transition: all 0.5s ease-in-out;
}

.browse-item-data:hover {
  opacity: 1.0;
}

.browse-item-data h3 {
  color: white;
  margin-bottom: 6px;
}

.browse-item-data p {
  color: white; 
  margin: 6px 0px;
}

.browse-item-data p em {
  font-weight: bold;
}

.browse-purchase-button {
  background-image: url('../img/purchase_icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #482;
  opacity: 0.0;
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 1px 1px 2px 2px #222;
  transition: all 0.5s ease-in-out;
}

.browse-purchase-button:hover {
  background-color: #5A3;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.browse-add-tag-button {
  background-image: url('../img/tag_icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #B59;
  opacity: 0.0;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  box-shadow: 1px 1px 2px 2px #222;
  transition: all 0.5s ease-in-out;
}

.browse-add-tag-button:hover {
  background-color: #D6B;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.browse-tag-selector {
  display: block;
  position: absolute;
  right: 0;
  padding: 5px;
  background-color: #555;
  z-index: 0;
  opacity: 0.0;
  width: 0px;
}

.browse-tag-selector-visible {
  opacity: 1.0;
  width: 175px;
  box-shadow: 0px 1px 1px 1px #222;
}

.browse-selectable-tag {
  display: inline-block;
  margin: 0px;
  padding: 1px 4px;
  font-size: 10px;
  color: #FFF;
  z-index: 1000;
}

.browse-selectable-tag:hover {
  background-color: #777;
  border-radius: 2px;
}

.browse-selectable-tag p {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}


