.cart {
  margin: 0px; 
  float: right; 
  width: 20vw; 
  height: 100%;
  background-color: #444;
  color: white;
  clear: both;
}

.cart-contents {
  height: 70%;
  overflow: auto;
  margin: 4px 6px;
}

.cart-item {
  border-radius: 2px;
  background-color: #666;
  box-shadow: 2px 2px 1px 1px #444;
  padding: 4px;
  position: relative;
  z-index: 10;
}

.cart-item p {
  text-align: left;
}

.cart-item-remove {
  position: absolute;
  margin: auto;
  right: 6px;
  bottom: 6px;
  padding: 8px;
  height: 15px;
  width: 10px;
  background-color: #444;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  z-index: 10;
}

.cart-item-remove:hover {
  background-color: #888;
}

.cart-item-image {
  position: absolute;
  background-size: cover; 
  background-posiion: center;
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 25%;
  z-index: 1;
}

.cart-tally {
  height: 20%;
  padding: 8px;
  background-color: #888;
}

.cart-tally h3, p {
  text-align: left;
  margin: 6px;
}

.cart-checkout {
  position: absolute;
  right: 12px;
  bottom: 12px;
  width: 35px;
  height: 45px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px #333;
  background: url('../img/buy.svg');
  background-repeat: no-repeat;
  background-posiion: center;
  background-size: cover;
  background-color: #4D4;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.cart-checkout:hover {
  background-color: #6E6;
  transform: scale(1.1, 1.1);
}

@media (max-width: 950px) {
  .cart {
    clear: both;
    display: block;
    width: 100vw;
    height: 20vh;
  }
}
