#login {
  position: absolute;
  height: 100px;
  margin: 6px 0;
  right: 10px;
  top: 10px;
  bottom: 10px;
}

#login fieldset {
  width: 200px;
  padding: 4px;
  padding-bottom: 0;
}

#login legend {
  display: block;
  color: #FFF;
}

#login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 6px;
}

#login label {
  color: #FFF;
}

#logout {
  position: absolute;
  height: 100px;
  margin: 6px 0;
  right: 10px;
  top: 10px;
  bottom: 10px;
}

#logout fieldset {
  width: 200px;
  padding: 4px;
  padding-bottom: 0;
}

#logout legend {
  display: block;
  color: #FFF;
}

#logout input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 6px;
}

#logout label {
  color: #FFF;
}

#show_change_password {
  position: absolute;
  height: 100px;
  margin: 6px 0;
  right: 10px;
  top: 40px;
  bottom: 10px;
}

#show_change_password fieldset {
  width: 200px;
  padding: 4px;
  padding-bottom: 0;
}

#show_change_password legend {
  display: block;
  color: #FFF;
}

#show_change_password input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 6px;
}

#show_change_password label {
  color: #FFF;
}

#change_password {
  position: absolute;
  height: 100px;
  margin: 6px 0;
  right: 10px;
  top: 40px;
  bottom: 10px;
}

#change_password fieldset {
  width: 200px;
  padding: 4px;
  padding-bottom: 0;
}

#change_password legend {
  display: block;
  color: #FFF;
}

#change_password input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 6px;
}

#change_password label {
  color: #FFF;
}

.navbar {
  width: 100%;
  background-color: #333333;
  padding: 10px;
  margin: 0px;
  height: 100px;
}

.navbar-heading-wrapper {
  display: inline-block;
}

.navbar-search-wrapper {
  display: inline-block;
  width: 20%;
}

@media (max-width: 950px) {
  .navbar-search-wrapper {
    display: none;
  }
}

.navbar-heading-wrapper h1 {
  font-size: 22px;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #FFF;
}

.navbar-icon {
  background-image: url('../img/cat_icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  margin: 0;
  width: 90px;
}

.navbar-search-input  {
  height: 20px;
  display: table;
}

.navbar-current-tag {
  text-align: center;
  display: inline-block;
  color: #FFF;
  border-radius: 4px;
  min-width: 100px;
  margin-bottom: 10px;
  height: 16px;
  background-color: #482;
  padding: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 2px 2px #222;
  transition: all 0.5s ease-in-out;
}

.navbar-current-tag:hover {
  background-color: #593;
}

.navbar-current-tag-x {
  background-color: #260;
  padding: 3px;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}

.navbar-echo {
  display: inline-block;
  margin: 0 auto;
  color: white;
}
